html * {
	font-family: Arial, Helvetica, sans-serif;	
}
html {
	/* min width is required to make 
	the website responsive in mobile
	*/
	min-width: 100%;
	min-height: 100%;
	/*Sets background color 
	for the whole page*/
	background-color: #cec9eb;
}

.content {
	margin-right: 6em;
	margin-left: 6em;
	margin-top: 1em;
	background-color: white;
	padding-top: 1em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1em;
	border: 2px solid darkblue;
}

main {
	padding-top: 10px;
	padding-bottom: 25px;
}

main, footer {
	background-color: #cec9eb;
}

header {
	padding-top: 1em;
	padding-bottom: 1em;
	background-image: linear-gradient(90deg, #d952ff 10%, #6773ff 60%, #7259ff 90%);
}

footer {
	padding-top: 1em;
	padding-bottom: 5em;
	color: black;
}

h1 {
	/* My website title indent */
	padding-left: 2em;
}

h2, .header_line {
	border-bottom: 1px solid black;
	padding-bottom: 3px;
}

#nav_menu {
	background-color: #303030;
	/*padding-top: 0.5em;
	padding-bottom: 0.5em;*/
	/* Set highlighted pagenthe same 
	width and height as navigation bar */ 
	overflow: hidden;
	/*min-height: 1em;*/
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}
#nav_menu li {
	float: left;
	/*width: 10em; /* 200px */
	color: white;
}
#nav_menu li a {
	color: white;
	display: block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}

#nav_menu a:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}
#nav_menu .dropbtn .active {
	background-color: #6c00c4;
	color: white;
}

#debian_logo {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	margin-right: auto;
}

#gnome_logo {
	display: block;
	float: left;
}
#copyright {
	text-align: center;
	clear: left;
}
#links {
	margin-left: 6em;
}

.scale_image {
	max-width: 80%;
	height: auto;
}

.caption {
	padding-bottom: 20px;
}

.icon-link {
	float: left;
	margin-left: 0.3em;
}

.icon-link:hover {
	background-color: white;
	border-radius: 50%;
}

/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
	h1 {
		font-size: 135%;
	}

}

/* mobile landscape layout (480px to 767px) */
/*@media only screen and (max-width: 767px) {

}*/

/* mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
	body {
		font-size: 90%;
	}
}


