html * {
	font-family: Arial, Helvetica, sans-serif;	
}
.content {
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 2%;
	background-color: white;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10%;
	font-size: 20px;
}

main {
	background-color: #efefef;
	padding-top: 10px;
	padding-bottom: 10%;
}

#home-margins {
	padding-bottom: 28%;
}

h1 {
	padding-left: 50px;
}

.navigation {
	background-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.navigation a {
	color: white;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 7px;
	padding-bottom: 8px;
	font-size: 20px;
	text-decoration: none;
}
.navigation a:hover {
	background-color: purple;
	color: white;
}
#debian_logo {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	margin-right: auto;
}

#gnome_logo {
	display: block;
	float: left;
}

.large_image {
	max-width: 80%;
	height: auto;
	
}

.caption {
	/*float: right;*/
	padding-bottom: 30px;
}
